.text {
  color: #333;
}
.modal-header {
  border-bottom: none;
  padding-bottom: 0px;
}
.modal-header .modal-title {
  text-align: center;
  text-decoration: underline;
}
.modal-body p,
.modal-body form {
  text-align: center;
}
.modal-body input[type="submit"][disabled] {
  opacity: .4;
}
#loginBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background-color: #FAFAFA;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
#loginBox #title {
  text-align: center;
  font-size: 400%;
  color: #848484;
}
#loginBox #title #trademark {
  vertical-align: 65%;
  font-size: 35%;
  color: #848484;
}
#loginBox #loginForm {
  text-align: center;
  font-size: 200%;
}
#loginBox #loginForm input[type="submit"][disabled] {
  opacity: .4;
}
#loginBox #loginError {
  text-align: center;
  font-size: 120%;
  color: red;
  display: none;
}
#loginBox #resetPassword {
  text-align: center;
  font-size: 120%;
  color: #646464;
  text-decoration: underline;
}
#loginBox #resetPassword #resetPasswordLink:hover {
  color: #333;
  cursor: pointer;
}
#resetPasswordModal form input[type="text"],
#resetPasswordModal form p {
  display: inline-block;
}
#resetPasswordModal form #invalidResetPasswordCode {
  text-align: center;
  font-size: 98%;
  color: red;
  display: none;
}
#invalidCurrentPassword,
#invalidNewPassword,
#mismatchingPasswords {
  text-align: center;
  font-size: 98%;
  color: red;
  display: none;
}
#configuration {
  margin-left: 25%;
  margin-right: 25%;
}
#configuration .nav #configurationTitle {
  padding-bottom: 0px;
  padding-right: 30px;
  font-size: 200%;
}
#configuration .nav .active a {
  color: #333;
}
#configuration .nav li a {
  color: #646464;
}
#configuration .tab-content #webServer input[type="submit"] {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
#configuration .tab-content #webServer input[value="Change Password"] {
  font-size: 230%;
}
#configuration .tab-content #simulator,
#configuration .tab-content #automation {
  font-size: 120%;
}
#configuration .tab-content #simulator .instruction,
#configuration .tab-content #automation .instruction {
  padding-bottom: 10px;
}
#configuration .tab-content #simulator .example,
#configuration .tab-content #automation .example {
  padding-bottom: 10px;
  font-style: italic;
}
#configuration .tab-content #simulator table {
  margin-bottom: 15px;
}
#configuration .tab-content #simulator table input {
  border: 0px;
  outline: none;
  width: 140px;
}
#configuration .tab-content #automation #automationForm #endHour {
  margin-left: 6px;
}
#configuration .tab-content #automation #automationForm input[type="submit"] {
  position: fixed;
  left: 30%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  margin-top: 15px;
}
